.mainPageTitle{
   text-align:center;
   background-image:linear-gradient(to bottom, #B2CCFF, #D9E5FF);
}

.mainPageList{
    text-align:left;
    font-size:15px;
}

.mainPageBody{
    text-align:center;
    display:block;
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
}

.Button{
    width:50px;
    height:40px;
    background-color: #0054FF;

}

.registerForm{
    position:absolute;
    left:100px;
    top:100px;
}

.registerFormLine{
    display:block;
}

.studentListTable{
    left:100px;
    top:100px;
}