<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    <h1>학생수정 </h1>

</head>
<body>
<form class = "registerForm" action="studentSpec.html" th:action th:object="${student}" method="post">
    <div>
        <b><label th:text="#{label.student.name}" for="studentName">학생 이름</label></b>
        <input class = "registerFormLine" type="text" id="studentName" name="name" th:field="*{name}" placeholder="학생 이름을 입력하세요.">
    </div>
    <div>
        <b><label th:text="#{label.student.age}" for="age">나이</label></b>
        <input class = "registerFormLine" type="text" id="age" name="age" th:field="*{age}" placeholder="나이를 입력하세요.">
    </div>
    <div class = "registerFormLine">
        <b><label th:text="#{label.student.address}" for="address">주소</label></b>
        <input class = "registerFormLine" type="text" id="address" name="address" th:field="*{address}" placeholder="주소를 입력하세요.">
    </div>
    <div class = "registerFormLine">
        <b><label th:text="#{label.student.phoneNumber}" for="phoneNumber">연락처</label></b>
        <input class = "registerFormLine" type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" placeholder="연락처를 입력하세요.">
    </div>
    <div th:each="grade: ${grades}">
        <label th:for="${#ids.next('grade')}" th:text="${grade.grade_str}"></label>
        <input type="radio" name="grade" th:field="*{grade}" th:value="${grade.name()}">
    </div>
    <div class = "registerFormLine">
        <b><label th:text="#{label.student.latestScore}" for="latestScore">최근 성적</label></b>
        <input class = "registerFormLine" type="text" id="latestScore" name="latestScore" th:field="${assessment.latestScore}" placeholder="최근 성적을 입력하세요.">
    </div>
    <div>
        <b><label th:text="#{label.student.description}" for="description">평가</label></b>
            <textarea id="description" th:field="${assessment.description}" placeholder="평가를 입력하세요."></textarea>
    </div>
    <br>
    <button class="Button" type="submit">등록</button>
    <button class ="Button" type="button" onclick="location.href='studentList.html'" th:onclick="|location.href='@{/students/studentList}'|">취소</button>
</form>

</body>
</html>