<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
</head>
<body>
<h1>Student specification</h1>
<form class = "registerForm" action="studentSpec.html" th:action th:object="${student}" method="post">
    <div>
        <label th:text="#{label.student.name}" for="studentName">학생 이름</label>
        <input class = "registerFormLine" type="text" id="studentName" th:field="*{name}" placeholder="학생 이름을 입력하세요." disabled>
    </div>
    <div>
        <label th:text="#{label.student.age}" for="age">나이</label>
        <input class = "registerFormLine" type="text" id="age" th:field="*{age}" placeholder="나이를 입력하세요." disabled>
    </div>
    <div>
        <label th:text="#{label.student.address}" for="address">주소</label>
        <input class = "registerFormLine" type="text" id="address" th:field="*{address}" placeholder="주소를 입력하세요." disabled>
    </div>
    <div>
        <label th:text="#{label.student.phoneNumber}" for="phoneNumber">연락처</label>
        <input class = "registerFormLine" type="text" id="phoneNumber" th:field="*{phoneNumber}" placeholder="역락처를 입력하세요." disabled>
    </div>
    <br>
    <a href="/students/studentList">목록으로</a>
</form>
</body>
</html>